<mat-toolbar color="primary">
    <span>
      E-Commerce Application
    </span>
  
    <span class="space-buttons"></span>
    <!-- <button  routerLink="/login" mat-raised-button color="primary">
      Login
    </button>
    <button   mat-raised-button color="warn">
      Logout
    </button> -->
  </mat-toolbar>
  
  <mat-toolbar color="primary">
  
  <button mat-raised-button color="primary" routerLink="/">Home</button>
  <button mat-raised-button color="primary" routerLink="/add-new-product">Add New Product</button>
  <button mat-raised-button color="primary" routerLink="/show-product-details">ShowProductDetails</button>
  </mat-toolbar>
  <!-- <app-add-new-product></app-add-new-product> -->
  <app-show-product-details></app-show-product-details>
  